<div class="room" id="day2">
  <h1>Programação Provisória - Domingo</h1>
  <p class="day-description">A submissão de palestras ainda está aberta.</p>
  <p class="local">LOCAL: UEA /EST</p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>
    <p><span class="track track-beginners">#auditório</span></p>
    <p class="talk">Registro</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p><span class="track track-beginners">#auditório</span></p>
    <p class="talk">Abertura</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:15</time></p>
    <p><span class="track track-keynote">#auditório</span></p>
    <p class="talk">KeyNote</p>
    <p class="speaker">Nilo Menezes</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:00</time></p>
    <p class="talk">Coffe Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:30</time></p>
    <p><span class="track track-tutorials">#auditório</span></p>
    <p class="talk">Programming soft skills</p>
    <p class="speaker">Wille Marcel</p>

    <p><span class="track track-web">#sala 1</span></p>
    <p class="talk">Docker, Django e Amazon Container Services</p>
    <p class="speaker">Nilo Menezes</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>11:15</time></p>
    <p><span class="track track-tutorials">#auditório</span></p>
    <p class="talk">Kivy: Python no celular e em vários outros lugares!</p>
    <p class="speaker">Diego Dukao</p>

    <p><span class="track track-tutorials">#sala 1</span></p>
    <p class="talk">Code Smells &amp; Refactoring - Who you gonna call?</p>
    <p class="speaker">Ana Paula Gomes</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>13:30</time></p>
    <p><span class="track track-web">#auditório</span></p>
    <p class="talk">Web2Py: Aplicações web descomplicadas em Python!</p>
    <p class="speaker">Elloa</p>

    <p><span class="track track-tutorials">#sala 1</span></p>
    <p class="talk">Unidos e distribuídos</p>
    <p class="speaker">Ana Lacerda</p>

  </div>

  <div class="lecture">
    <p class="hour"><time>14:15</time></p>
    <p><span class="track track-tutorials">#auditório</span></p>
    <p class="talk">Prevendo futuro com machine learning</p>
    <p class="speaker">Emilio Simoni</p>

    <p><span class="track track-web">#sala 1</span></p>
    <p class="talk">Python + Flask + MongoDB = Quokka CMS</p>
    <p class="speaker">Marcos P.</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:00</time></p>
    <p><span class="track track-pydata">#auditório</span></p>
    <p class="talk">Python, ciência dos dados e redes sociais: uma combinação poderosa</p>
    <p class="speaker">Alice Adativa</p>

    <p><span class="track track-tutorials">#sala 1</span></p>
    <p class="talk">Redes Neurais Artificiais para o Reconhecimento Facial e de Voz em Interfaces de Controle e de Supervisão e Aquisição de Dados e Interfaces Homem-Máquina</p>
    <p class="speaker">Fabiano Cardoso</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:45</time></p>
    <p class="talk">Coffe Break</p>
    <p class="speaker"></p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:15</time></p>
    <p><span class="track track-career">#auditório</span></p>
    <p class="talk">Palestra Seja um Autor de livros técnicos</p>
    <p class="speaker">Ana Carolina Prates</p>

  </div>

  <div class="lecture">
    <p class="hour"><time>17:00</time></p>
    <p><span class="track track-keynote">#auditório</span></p>
    <p class="talk">Mesa Redonda</p>
    <p class="speaker"></p>
  </div>


</div>
