<section class="speakers" id="speakers">
    <div class="row">
        <h1>Keynotes</h1>

        <ul class="speakers-list">

            <li class="speaker">
                <a href="#" target="_blank" class="speaker-link">
                    <div class="photo">
                        <img src="/images/speakers/shape-people3.png" alt="Temp">
                    </div>

                    <h2 class="speaker-name">Nome</h2>
                    <p class="speaker-description"> Descrição ... Descrição... Descrição ...
                         Descrição ...
                         Descrição ...
                         Descrição ... Descrição ... Descrição ... Descrição ... Descrição ... Descrição ...


                    </p>
                </a>
            </li>

            <li class="speaker">
                <a href="#" target="_blank" class="speaker-link">
                    <div class="photo">
                        <img src="/images/speakers/shape-people3.png" alt="Temp">
                    </div>

                    <h2 class="speaker-name">Nome</h2>
                    <p class="speaker-description"> Descrição ... Descrição... Descrição ...
                         Descrição ...
                         Descrição ...
                         Descrição ... Descrição ... Descrição ... Descrição ... Descrição ... Descrição ...


                    </p>
                </a>
            </li>

        </ul>
    </div>
</section>
