<section class="welcome">
  <div class="row">
    <header class="header">

      <div class="menu-scroll">
        <div class="center">
          {% include "includes/menu.html" %}
        </div>
      </div>

      {% include "includes/menu.html" %}
    </header>

    <article class="info">
      <h1>PyCon Amazônia</h1>
      <h3>1ª conferência da comunidade Python do Norte do Brasil</h3>

      <h2>12 e 13 de Agosto de 2017</h2>

      <p>Universidade do Estado do Amazonas/Escola Superior de Tecnologia (UEA/EST)<br/>
      Manaus/AM</p>

      <!-- <a href="#" target="_blank" class="register">INSCREVA-SE AQUI</a> -->
    </article>
  </div>
</section>
