<section class="welcome">
  <div class="row">
    <header class="header">

      <div class="menu-scroll">
        <div class="center">
          {% include "includes/menu.html" %}
        </div>
      </div>

      {% include "includes/menu.html" %}
    </header>

    <article class="info">
      <h1>PyCon Amazônia conferência brasileira da comunidade Python do Norte do Brasil</h1>

      <h2>12 e 13 de Agosto de 2017</h2>

      <p>UEA/EST - Manaus/AM</p>

      <a href="https://www.eventbrite.com.br/e/python-brasil-12-tickets-24224785987" target="_blank" class="register">INSCREVA-SE AQUI</a>
    </article>
  </div>
</section>
